# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual Environment
venv/
env/
*.env

# IDE
.idea/
.vscode/

# Large Models / Vendors
src/libs/SF3D_Portable/
src/libs/stable-fast-3d/
src/libs/TripoSR/
models/*.glb
*.7z
*.zip
temp_install_dir/
debug_output.txt
*.log

# Secrets
*.key
.env

